﻿
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>


<table id="movies" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>        
    <tbody>
           
    </tbody>
</table>



@section scripts { 
    
   <script>

       $(document).ready(() => {

           let moviesTable = $("#movies").DataTable({
               ajax: {
                   url: "/api/movies",
                   dataSrc: ""
               },

               columns: [
                   {
                       data: "name",
                       render: (data, type, movie) => {
                           return `<a href="/Movies/details/${movie.id}">${data}</a>`
                       }
                   },
                   {
                       data: "genre.name"
                   },
                   {
                       data: "id",
                       render: (data) => {
                           return `<button class="btn-link js-delete-click" data-movie-id=${data}>Delete</button>`;
                       }
                   }

               ]

           });


           $('#movies').on("click", ".js-delete-click", function () {
               let button = $(this);
               bootbox.confirm("Are you sure you want to delete this movie?", (result) => {

                   if (result) {
                       $.ajax({
                           url: `/api/movies/${button.attr("data-movie-id")}`,
                           method: "DELETE",
                           success: () => {
                               moviesTable.row(button.parents("tr")).remove().draw();
                           }
                       });
                   }

               })
              


           });


       });

    </script>
    
}
