﻿@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movies", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Please fill the required field(s).")

    <div class="form-group">
        @Html.LabelFor(e => e.Name)
        @Html.TextBoxFor(e => e.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.ReleaseDate)
        @Html.TextBoxFor(e => e.ReleaseDate, "{0:d MMM yyyy}" ,new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.GenreId)
        @Html.DropDownListFor(e => e.GenreId, new SelectList(Model.Genres,"Id","Name") ,"Select Genre",new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.NumberInStock)
        @Html.TextBoxFor(e => e.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.NumberInStock)
    </div>

    @Html.HiddenFor(e=>e.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts {
    
    @Scripts.Render("~/bundles/jqueryval")
    
}