﻿
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>


<table id="movies" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
    </thead>        
    <tbody>
           
    </tbody>
</table>



@section scripts { 
    
   <script>

       $(document).ready(() => {

           let moviesTable = $("#movies").DataTable({
               ajax: {
                   url: "/api/movies",
                   dataSrc: ""
               },

               columns: [
                   {
                       data: "name"
                   },
                   {
                       data: "genre.name"
                   }

               ]

           });


       });

    </script>
    
}
