﻿@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New Customer";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers",FormMethod.Post))
{
    @Html.ValidationSummary(true,"Please fill up the requried field.")


    <div class="form-group">
        @Html.LabelFor(e => e.Customer.Name)
        @Html.TextBoxFor(e => e.Customer.Name, new { @class="form-control" })
        @Html.ValidationMessageFor(e => e.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Customer.MembershipTypeId)
        @Html.DropDownListFor(e => e.Customer.MembershipTypeId, 
                new SelectList(Model.MembershipTypes,"Id","Name"),
                "Select Membership Type", 
                new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.Customer.Birthdate)
        @Html.TextBoxFor(e => e.Customer.Birthdate,"{0:d MMM yyyy}" , new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(e => e.Customer.IsSubscribeToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")   
}
