﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<ul>
    <li>

        Membership Type : @Model.MembershipType.Name
    </li>
    @if (Model.Birthdate.HasValue)
    {
        <li>
            Birthday : @Model.Birthdate.Value.ToShortDateString()
        </li>
    }
</ul>
