﻿
@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>


    <table id="customers" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Discount Rate</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>



@section scripts {
    <script>

        $(document).ready(() => {
           let table = $('#customers').DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render:  (data, type, customer) => {
                            return `<a href="/customers/edit/${customer.id}"> ${customer.name}</a>`;
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: (data, type, customer) => {
                            return `<button class="btn-link js-delete" data-customer-id=${data}>Delete</button>`;
                        }
                    }
                ]


            });

            $('#customers').on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer? ", (result) => {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: () => {
                                table.row(button.parents("tr")).remove().draw();
                            }

                        });
                    }

                });

            });
        });

    </script>
}