﻿
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>
<form id="newRental">

    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input name="movie" data-rule-atleastOneMovie="true" id="movie" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-md-4 col-sm-4 ">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>


    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>

</form>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

        <script>
            'use strict'
            $(document).ready(function () {

                var vm = {
                    movieIds: []
                };

                var customers = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/api/customers?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });

                $('#customer').typeahead({
                    minLength: 3,
                    highlight: true
                },
                    {
                        name: 'Customers',
                        display: 'name',
                        source: customers
                    }).on("typeahead:select", (e, customer) => {
                        vm.customerId = customer.id;
                        console.log(vm);
                    });


                var movies = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/api/movies?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });

                $('#movie').typeahead({
                    minLength: 3,
                    highlight: true
                },
                    {
                        name: 'movies',
                        display: 'name',
                        source: movies
                    }).on("typeahead:select", (e, movie) => {
                        $("#movies").append(`
                            <li class="list-group-item"> ${movie.name} </li>
                        `);

                        $("#movie").typeahead("val", "");

                        vm.movieIds.push(movie.id);
                        console.log(vm);
                    });


                $.validator.addMethod("validCustomer", () => {
                    return vm.customerId && vm.customerId != 0;
                }, "Please select a valid customer.");

                $.validator.addMethod("atleastOneMovie", () => {
                    return vm.movieIds.length != 0;
                }, "Please choose atleast one movie.");

                var validator = $("#newRental").validate({
                    submitHandler: () => {
                        $.ajax({
                            url: "/api/NewRentals",
                            method: "POST",
                            data: vm
                        })
                            .done(() => {
                                toastr.success("Rental successfully recorded");

                                vm = { movieIds: [] };
                                $("#movie").typeahead("val", "");
                                $("#movies").empty();
                                $("#customer").typeahead("val", "");
                                validator.resetForm();
                            })
                            .fail(() => {
                                toastr.error("Something went wrong.");
                            });

                        return false;

                    }
                });


            });



        </script>


}